<nav class="navbar navbar-dark justify-content-between">
    <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>
    <div>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li>
          <%= link_to t('app.menu.about'), about_path, class:"nav-item" %>
        </li>
      </ul>
    </div>
  <%= render 'cities/form' %>
  </nav>